<div class="row">
    <div class="col-md-12" id="content">
        <div class="ltm-box">
            <div class="ltm-pd-35 ltm-box-header ltm-box">
                <h3>Play</h3>
            </div>

            <div class="ltm-play ltm-pd-35">
                <div class="ltm-play-header">
                    3/10
                </div>
                <div class="ltm-play-body">
                    <div class="ltm-play-question">
                        What sound does this make?
                    </div>
                    <div class="ltm-play-1">
                        <div>
                            <div class="ltm-info-1">
                                に
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <label>
                                        <input type="radio" name="answer"> chi</label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="answer"> ni</label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="answer"> i</label>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="ltm-play-footer">
                    <button class="btn btn-primary">Next</button>
                </div>
            </div>

        </div>
    </div>
</div>