<div class="row">
        <div class="col-md-8" id="content">
            <div class="ltm-box">
                <div class="ltm-pd-35 ltm-box-header ltm-bg-shop">
                    <div class="l-home">
                        <div>
                            <p class="ltm-text-lg">Shop</p>
                        </div>
                    </div>
                    <div>
                        <button class="ltm-btn ltm-btn-border-white" routerLink="/client/course">Leave shop</button>
                    </div>
                </div>
                <div class="ltm-pd-35">
                    <div class="ltm-box ltm-pd-40  ltm-bg-blue2">
                        hello
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-4" id="sidebar">
            <div class="ltm-box ltm-pd-40">
                
            </div>
        </div>
    </div>