.ltm-shop-item{
    padding:10px 0px;
    border-bottom: 2px solid #e9e9e9;
}
.ltm-shop-item-header{
    font-size: 17px;
    color: #3c3c3c;
    font-weight: 600;
    padding-bottom: 10px;
}

.ltm-shop-item-content{
    color: #999;
}