<div class="row">
    <div class="col-md-12" id="content">
        <jhi-alert></jhi-alert>
        <div class="ltm-box">
            <div class="ltm-pd-35 ltm-box-header">
                <h2>User Course</h2>
            </div>
            <div class="row ltm-pd-35 ltm-course">
                <div *ngFor="let course of courses;" class="col-md-4 ltm-course-item" (click)="onClickCourse(course)">
                    <img [src]="'data:' + course.imageContentType + ';base64,' + course.image" alt="">
                    <div class="ltm-course-item-footer">
                        <span class="t-item-name">{{course.title}}</span>
                        <span class="t-item-status">{{course.coin}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>