
<div *ngIf="config">
    <h2><span jhiTranslate="hlSchoolApp.config.detail.title">Config</span> {{config.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hlSchoolApp.config.key">Key</span></dt>
        <dd>
            <span>{{config.key}}</span>
        </dd>
        <dt><span jhiTranslate="hlSchoolApp.config.value">Value</span></dt>
        <dd>
            <span>{{config.value}}</span>
        </dd>
        <dt><span jhiTranslate="hlSchoolApp.config.rawData">Raw Data</span></dt>
        <dd>
            <span>{{config.rawData}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'config/'+ config.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
