<div class="card jh-card">
    <div>
        <h2>
            <span jhiTranslate="hlSchoolApp.course.home.title">Courses</span>
            <button class="btn btn-primary float-right jh-create-entity create-course" [routerLink]="['/', { outlets: { popup: ['course-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="hlSchoolApp.course.home.createLabel">
                    Create new Course
                </span>
            </button>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
        </div>
        <br/>
        <div class="table-responsive" *ngIf="courses">
            <table class="table table-striped">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="id">
                            <span jhiTranslate="global.field.id">ID</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="createDate">
                            <span jhiTranslate="hlSchoolApp.course.createDate">Create Date</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="activated">
                            <span jhiTranslate="hlSchoolApp.course.activated">Activated</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="title">
                            <span jhiTranslate="hlSchoolApp.course.title">Title</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="level">
                            <span jhiTranslate="hlSchoolApp.course.level">Level</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="contenten">
                            <span jhiTranslate="hlSchoolApp.course.contenten">Contenten</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="contentvi">
                            <span jhiTranslate="hlSchoolApp.course.contentvi">Contentvi</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th jhiSortBy="image">
                            <span jhiTranslate="hlSchoolApp.course.image">Image</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courses ;trackBy: trackId">
                        <td>
                            <a [routerLink]="['../course', course.id ]">{{course.id}}</a>
                        </td>
                        <td>{{course.createDate | date:'medium'}}</td>
                        <td>{{course.activated}}</td>
                        <td>{{course.title}}</td>
                        <td>{{course.level}}</td>
                        <td>{{course.contenten}}</td>
                        <td>{{course.contentvi}}</td>
                        <td>
                            <a *ngIf="course.image" (click)="openFile(course.imageContentType, course.image)">
                                <img [src]="'data:' + course.imageContentType + ';base64,' + course.image" style="max-height: 30px;" alt="course image" />
                            </a>
                            <span *ngIf="course.image">{{course.imageContentType}}, {{byteSize(course.image)}}</span>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" [routerLink]="['../course', course.id ]" class="btn btn-info btn-sm">
                                    <span class="fa fa-eye"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button type="submit" [routerLink]="['/', { outlets: { popup: 'course/'+ course.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit" [routerLink]="['/', { outlets: { popup: 'course/'+ course.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="courses && courses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>