<div class="row">
    <div class="col-md-8" id="content">
        <div class="ltm-box">
            <div class="ltm-pd-35 ltm-box-header ltm-box">
                <div class="l-home">
                    <img class="l-japan" src="./../../../content/images/japan.png" alt="">
                    <div>
                        <p class="ltm-text-lg">{{course.title}}</p>
                        <p class="l-level">Level</p>
                    </div>
                </div>
                <div>
                    <button class="ltm-btn ltm-default" routerLink="/client/shop" routerLinkActive="active"> Shop</button>
                </div>
            </div>

            <div *ngFor="let lesson of lessons ;trackBy: trackId">
                <div class="ltm-lesson ltm-pd-35">
                    <div class="ltm-lesson-item" (click)="onClickLesson(lesson)">
                        <img src="./../../../content/images/complete.PNG" alt=""> {{translateService.currentLang == 'en' ? lesson.contenten : lesson.contentvi}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="sidebar">
        <div class="ltm-box ltm-pd-30">
            <h5>Profile</h5>
            <div>
                <h6>Admin</h6>
                <span>{{level}}</span> <br>
                <span>Point {{account != null ? account.point: ''}}</span> <br>
                <span>Coin {{account != null ? account.coin: ''}}</span> <br>
            </div>
        </div>
    </div>
</div>