<div class="card jh-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="myQuestionLabel" jhiTranslate="hlSchoolApp.question.home.createOrEditLabel">Create or edit a Question</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" [hidden]="!question.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="question.id" readonly />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.question.createDate" for="field_createDate">Create Date</label>
                <div class="d-flex">
                    <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="question.createDate"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.question.questionType" for="field_questionType">Question Type</label>
                <select class="form-control" name="questionType" [(ngModel)]="question.questionType" id="field_questionType" required>
                    <option value="TRANSLATION">{{'hlSchoolApp.QuestionType.TRANSLATION' | translate}}</option>
                    <option value="LISTENING">{{'hlSchoolApp.QuestionType.LISTENING' | translate}}</option>
                    <option value="SELECTION">{{'hlSchoolApp.QuestionType.SELECTION' | translate}}</option>
                    <option value="SPEECH">{{'hlSchoolApp.QuestionType.SPEECH' | translate}}</option>
                </select>
                <div [hidden]="!(editForm.controls.questionType?.dirty && editForm.controls.questionType?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.questionType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.question.questionSubType" for="field_questionSubType">Question Sub Type</label>
                <select class="form-control" name="questionSubType" [(ngModel)]="question.questionSubType" id="field_questionSubType" required>
                    <option value="SELECTION_IMAGE">{{'hlSchoolApp.QuestionSubType.SELECTION_IMAGE' | translate}}</option>
                    <option value="SELECTION_TEXT">{{'hlSchoolApp.QuestionSubType.SELECTION_TEXT' | translate}}</option>
                    <option value="SELECTION_SPEECH">{{'hlSchoolApp.QuestionSubType.SELECTION_SPEECH' | translate}}</option>
                </select>
                <div [hidden]="!(editForm.controls.questionSubType?.dirty && editForm.controls.questionSubType?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.questionSubType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.question.contenten" for="field_contenten">Contenten</label>
                <input type="text" class="form-control" name="contenten" id="field_contenten" [(ngModel)]="question.contenten" required/>
                <div [hidden]="!(editForm.controls.contenten?.dirty && editForm.controls.contenten?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.contenten?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.question.contentvi" for="field_contentvi">Contentvi</label>
                <input type="text" class="form-control" name="contentvi" id="field_contentvi" [(ngModel)]="question.contentvi" required/>
                <div [hidden]="!(editForm.controls.contentvi?.dirty && editForm.controls.contentvi?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.contentvi?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.question.image" for="field_image">Image</label>
                <div>
                    <img [src]="'data:' + question.imageContentType + ';base64,' + question.image" style="max-height: 100px;" *ngIf="question.image"
                        alt="question image" />
                    <div *ngIf="question.image" class="form-text text-danger clearfix">
                        <span class="pull-left">{{question.imageContentType}}, {{byteSize(question.image)}}</span>
                        <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                    <input type="file" id="file_image" (change)="setFileData($event, question, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"
                    />
                </div>
                <input type="hidden" class="form-control" name="image" id="field_image" [(ngModel)]="question.image" />
                <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType" [(ngModel)]="question.imageContentType"
                />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.question.resource" for="field_resource">Resource</label>
                <div>
                    <div *ngIf="question.resource" class="form-text text-danger clearfix">
                        <a class="pull-left" (click)="openFile(question.resourceContentType, question.resource)" jhiTranslate="entity.action.open">open</a>
                        <br>
                        <span class="pull-left">{{question.resourceContentType}}, {{byteSize(question.resource)}}</span>
                        <button type="button" (click)="question.resource=null;question.resourceContentType=null;" class="btn btn-secondary btn-xs pull-right">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                    <input type="file" id="file_resource" (change)="setFileData($event, question, 'resource', false)" jhiTranslate="entity.action.addblob"
                    />
                </div>
                <input type="hidden" class="form-control" name="resource" id="field_resource" [(ngModel)]="question.resource" />
                <input type="hidden" class="form-control" name="resourceContentType" id="field_resourceContentType" [(ngModel)]="question.resourceContentType"
                />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.question.rawData" for="field_rawData">Raw Data</label>
                <textarea class="form-control" name="rawData" id="field_rawData" [(ngModel)]="question.rawData"></textarea>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.question.subLesson" for="field_subLesson">Sub Lesson</label>
                <select class="form-control" id="field_subLesson" name="subLesson" [(ngModel)]="question.subLessonId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="subLessonOption.id" *ngFor="let subLessonOption of sublessons; trackBy: trackSubLessonById">{{subLessonOption.id}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>