.l-home {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.l-japan {
    padding-top: 12px;
    padding-right: 10px;
}

.l-level {
    color: white;
}

.ltm-text-lg {
    margin-bottom: 0px;
}

.l-right {
    position: absolute;
    right: 0;
}