<div class="card jh-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="myAnswerLabel" jhiTranslate="hlSchoolApp.answer.home.createOrEditLabel">Create or edit a Answer</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" [hidden]="!answer.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="answer.id" readonly />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.answer.createDate" for="field_createDate">Create Date</label>
                <div class="d-flex">
                    <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="answer.createDate"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.answer.result" for="field_result">Result</label>
                <input type="checkbox" class="form-control" name="result" id="field_result" [(ngModel)]="answer.result" />
                <div [hidden]="!(editForm.controls.result?.dirty && editForm.controls.result?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.result?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.answer.rawData" for="field_rawData">Raw Data</label>
                <textarea class="form-control" name="rawData" id="field_rawData" [(ngModel)]="answer.rawData"></textarea>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.answer.question" for="field_question">Question</label>
                <select class="form-control" id="field_question" name="question" [(ngModel)]="answer.questionId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="questionOption.id" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.id}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="hlSchoolApp.answer.vocabulary" for="field_vocabulary">Vocabulary</label>
                <select class="form-control" id="field_vocabulary" name="vocabulary" [(ngModel)]="answer.vocabularyId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="vocabularyOption.id" *ngFor="let vocabularyOption of vocabularies; trackBy: trackVocabularyById">{{vocabularyOption.id}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>