<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGiftLogLabel" jhiTranslate="hlSchoolApp.giftLog.home.createOrEditLabel">Create or edit a Gift Log</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!giftLog.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="giftLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hlSchoolApp.giftLog.createDate" for="field_createDate">Create Date</label>
            <div class="d-flex">
                <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="giftLog.createDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hlSchoolApp.giftLog.rawData" for="field_rawData">Raw Data</label>
            <textarea class="form-control" name="rawData" id="field_rawData"
                [(ngModel)]="giftLog.rawData" ></textarea>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hlSchoolApp.giftLog.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="giftLog.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hlSchoolApp.giftLog.gift" for="field_gift">Gift</label>
            <select class="form-control" id="field_gift" name="gift" [(ngModel)]="giftLog.giftId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="giftOption.id" *ngFor="let giftOption of gifts; trackBy: trackGiftById">{{giftOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
