<div class="footer">
    <ul class="ltm-footer">
        <li><a href="#" jhiTranslate="footer.about">About</a></li>
        <li><a href="#" jhiTranslate="footer.schools">Schools</a></li>
        <li><a href="#" jhiTranslate="footer.hlschool">HLSchool</a></li>
        <li><a href="#" jhiTranslate="footer.mobile">Mobile</a></li>
        <li><a href="#" jhiTranslate="footer.help">Help</a></li>
        <li><a href="#" jhiTranslate="footer.about">About</a></li>
        <li><a href="#" jhiTranslate="footer.privacy">Privacy</a></li>
    </ul>
</div>
